/*  Table of Contents: 
    1. Globals 
    2. Typography 
    3. Components 
    4. Layouts 
    5. Animations 
    5. Specifics 
    -----------------*/

/*  -----------------
    Globals 
    -----------------*/
:root {
    --granite-gray: #656369ff;
    --cerulean-crayola: #39a5cfff;
    --aquamarine: #90ffcbff;
    --plum-web: #f6b0e9ff;
    --magnolia: #f7f0f5ff;
    padding: 0;
    margin: 0;
}

.App {
    background-color: var(--granite-gray);
    min-height: 100vh;
    text-align: center;
    color: var(--magnolia);
}

/*  -----------------
    Typography 
    -----------------*/
h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 45px;
}
h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

/*  -----------------
    Components 
    -----------------*/

button,
input {
    min-height: 25px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: var(--aquamarine);
    cursor: pointer;
    font-size: 1em;
}

input {
    margin-right: 10px;
}

img {
    max-width: 30vw;
}

td {
    text-align: left;
}

/*  -----------------
    Layouts 
    -----------------*/

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  -----------------
    Animations 
    -----------------*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*  -----------------
    Specifics 
    -----------------*/

.header {
    background-color: var(--cerulean-crayola);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    min-height: 40px;
    color: var(--aquamarine);
    margin-bottom: 20px;
}

.country-input {
    color: var(--aquamarine);
}

.home {
    display: flex;
    align-items: center;
}

.tab-select {
    width: 50vw;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.overview-table {
    font-size: 20px;
    margin: 15px 0;
}
.country-option {
    cursor: pointer;
    margin: 3px 0;
}
.country-option:hover {
    color: var(--plum-web);
}
.symbols {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 25px;
}

.loading-modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-background {
    position: absolute;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    background-color: black;
}
.loader {
    border: 1vw solid var(--magnolia);
    border-top: 1vw solid var(--cerulean-crayola); /* Blue */
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    animation: spin 0.8s linear infinite;
}
